* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: #121212;
    color:rgb(226, 147, 0);
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

header {
    background-color: #1a1a1a;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(226, 147, 0);
}


h1{
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover{
    color: rgb(194, 126, 0);
}

#squad{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    gap: 30px;
    margin-bottom: 50px;
}

.card{
    width: 80%;
    max-width: 490px;
    background-color: #1f1f1f;
    padding: 20px;
    border: 1px solid #333;
    text-align: center;
    position: relative;
    transition: transform 0.2s;
}

.card img{
    width: 100%;
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
    border: 12px;
    border: 3px solid rgb(194, 126, 0);
    margin-bottom: 15px;
}

.card p{
    font-size: 0.9rem;
    text-align: center;
    margin-top: 12px;
    line-height: 1.1rem;
    color: rgb(151, 100, 4);
    
}

@media (max-width: 768px){
    .card{
        width: 80%;
        margin: 0 auto 20px;
    }
    .home-container{
        flex-direction: column;
        text-align: center;
    }
}

@media (min-width: 768px){
    header{
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 40px;
    }

    h1{
        margin-bottom: 0;
    }

    .card{
        width: 30%;
    }

    #home{
        flex-direction: row;
        text-align: left;
        justify-content: space-between;
        min-height: 400px ;
    }

    .intro-text{
        width: 60%;
        text-align: left;
    }

    .typing{
        margin: 0;
    }
}

main{
    /*padding: 40px 20px;*/
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes glitch-anim{
    0% { transform: translate(0); }
    20% { transform: translate(-2px,2px); }
    40% { transform: translate(-2px,-2px); }
    60% { transform: translate(2px,2px); }
    80% { transform: translate(2px,-2px); }
    100% { transform: translate(0); }
}

.card img:hover{
    animation: glitch-anim 0.3s infinite;
    border-color: rgb(226, 147, 0);
    cursor: pointer;
}

footer{
    text-align: center;
    padding: 40px;
    background-color: #0a0a0a;
    border-top: 2px solid rgb(226, 147, 0);
    margin-top: 80px;
}
footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

#home{
    width: 90%;
    background-color: #1f1f1f;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
}

.intro-text{
    text-align: center;
}

.intro-text h2{
    font-size: 2rem;
    margin-bottom: 15px;
    color:  rgb(226, 147, 0);
}

.intro-text p{
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: rgb(226, 147, 0);
}

.holt-img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.typing{
    overflow: hidden;
    border-right: .15rem solid rgb(226, 147, 0);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15rem;

    animation: 
        typing 3.5s steps(40,end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0;}
    to { width: 100%;}
}

@keyframes blink-caret{
    from, to { border-color: transparent;}
    50% {border-color: rgb(226, 147, 0);}
}

.home-container{
    height: 100%;
    display: flex;
    width: 90%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px; 
    background-color: #1f1f1f;   
}

.left-content{
    flex: 0.7;
    padding: 30px;
}

.right-content{
    flex: 0.7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.typing-header{
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: rgb(226, 147, 0);
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid rgb(226, 147, 0);
    width: 0;
    animation: 
        type-text 2s steps(30,end) forwards,
        blink 0.75s step-end ;
}

.typing-sub{
    font-size: 1.5rem;
    margin-bottom: 35px;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid rgb(226, 147, 0);
    width: 0;

    animation: 
        type-text 1.2s steps(30,end) 2s forwards,
        blink 0.75s step-end ;
}

.fade-in-text{
    opacity: 0;
    font-size: 1.1rem;
    margin-top: 15px;
    line-height: 1.8;
    animation: fadeIn 1s ease-in 4s forwards;
}

@keyframes type-text{
    to { width: 100%; }
}

@keyframes blink {
    50% {border-color: transparent;}
}

@keyframes fadeIn{
    to {opacity: 1;}
}

.squad-title{
    font-size: 4rem;
    margin-top: 40px;
    margin-bottom: 30px;
}